MCode/Service References/MServiceD/MDService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.MCode.com/MClassLib/cListItem" elementFormDefault="qualified" targetNamespace="http://www.MCode.com/MClassLib/cListItem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfcListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cListItem" nillable="true" type="tns:cListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcListItem" nillable="true" type="tns:ArrayOfcListItem" />
  <xs:complexType name="cListItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsSelected" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Short" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderN" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cListItem" nillable="true" type="tns:cListItem" />
</xs:schema>