MCode/Service References/MServiceD/MDService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="MCodeSilverlightServer" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MDService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_MDService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="MCodeSilverlightServer" location="http://mns1-022n/mcd/MDService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="NetTcpBinding_MDService" type="i0:MDService">
    <wsp:PolicyReference URI="#NetTcpBinding_MDService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="MCodeSilverlightServer/MDService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disonnect">
      <soap12:operation soapAction="MCodeSilverlightServer/MDService/Disonnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="uploadMessageArhive">
      <soap12:operation soapAction="MCodeSilverlightServer/MDService/uploadMessageArhive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadClients">
      <soap12:operation soapAction="MCodeSilverlightServer/MDService/uploadClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="srv_select_StatusList">
      <soap12:operation soapAction="MCodeSilverlightServer/MDService/srv_select_StatusList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="srv_select_DataFromLists">
      <soap12:operation soapAction="MCodeSilverlightServer/MDService/srv_select_DataFromLists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="srv_work_DataFromLists">
      <soap12:operation soapAction="MCodeSilverlightServer/MDService/srv_work_DataFromLists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="srv_work_Consignment">
      <soap12:operation soapAction="MCodeSilverlightServer/MDService/srv_work_Consignment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="srv_select_ConsignmentList">
      <soap12:operation soapAction="MCodeSilverlightServer/MDService/srv_select_ConsignmentList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="srv_select_ConsignmentEx">
      <soap12:operation soapAction="MCodeSilverlightServer/MDService/srv_select_ConsignmentEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="srv_upd_StatusChange">
      <soap12:operation soapAction="MCodeSilverlightServer/MDService/srv_upd_StatusChange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="srv_select_RD">
      <soap12:operation soapAction="MCodeSilverlightServer/MDService/srv_select_RD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="MCodeSilverlightServer/MDService/SendMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendListItem">
      <soap12:operation soapAction="MCodeSilverlightServer/MDService/SendListItem" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendListTTN">
      <soap12:operation soapAction="MCodeSilverlightServer/MDService/SendListTTN" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTableUpdated">
      <soap12:operation soapAction="MCodeSilverlightServer/MDService/SendTableUpdated" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadMessageArhive">
      <soap12:operation soapAction="MCodeSilverlightServer/MDService/UploadMessageArhive" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSingleMessage">
      <soap12:operation soapAction="MCodeSilverlightServer/MDService/SendSingleMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendUpdateClients">
      <soap12:operation soapAction="MCodeSilverlightServer/MDService/SendUpdateClients" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MDService">
    <wsdl:port name="NetTcpBinding_MDService" binding="tns:NetTcpBinding_MDService">
      <soap12:address location="net.tcp://mns1-022n.simatek.local:4502/mcd/MDService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://mns1-022n.simatek.local:4502/mcd/MDService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>