MCode/Service References/MServiceD/MDService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.MCode.com/MClassLib/cBaseItem" elementFormDefault="qualified" targetNamespace="http://www.MCode.com/MClassLib/cBaseItem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfcBaseItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cBaseItem" nillable="true" type="tns:cBaseItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcBaseItem" nillable="true" type="tns:ArrayOfcBaseItem" />
  <xs:complexType name="cBaseItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cBaseItem" nillable="true" type="tns:cBaseItem" />
</xs:schema>