MCode/Service References/MServiceD/MDService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.MCode.com/MClassLib/cMessageData" elementFormDefault="qualified" targetNamespace="http://www.MCode.com/MClassLib/cMessageData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfcMessageData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cMessageData" nillable="true" type="tns:cMessageData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcMessageData" nillable="true" type="tns:ArrayOfcMessageData" />
  <xs:complexType name="cMessageData">
    <xs:sequence>
      <xs:element minOccurs="0" name="msgDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="msgNum" type="xs:long" />
      <xs:element minOccurs="0" name="msgText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cMessageData" nillable="true" type="tns:cMessageData" />
</xs:schema>