MTestConsole/Service References/MServiceD/MServiceD1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="MCodeSilverlightServer" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="MCodeSilverlightServer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="MCodeSilverlightServer/Imports">
      <xsd:import schemaLocation="http://mns1-022n/mcode/MServiceD.svc?xsd=xsd0" namespace="MCodeSilverlightServer" />
      <xsd:import schemaLocation="http://mns1-022n/mcode/MServiceD.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://mns1-022n/mcode/MServiceD.svc?xsd=xsd2" namespace="http://www.MCode.com/MClassLib/cListItem" />
      <xsd:import schemaLocation="http://mns1-022n/mcode/MServiceD.svc?xsd=xsd3" namespace="http://www.MCode.com/MClassLib/cConsignmentItem" />
      <xsd:import schemaLocation="http://mns1-022n/mcode/MServiceD.svc?xsd=xsd4" namespace="http://www.MCode.com/MClassLib/cBaseItem" />
      <xsd:import schemaLocation="http://mns1-022n/mcode/MServiceD.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MDuplexService_srv_select_DataFromLists_InputMessage">
    <wsdl:part name="parameters" element="tns:srv_select_DataFromLists" />
  </wsdl:message>
  <wsdl:message name="MDuplexService_srv_select_DataFromLists_OutputMessage">
    <wsdl:part name="parameters" element="tns:srv_select_DataFromListsResponse" />
  </wsdl:message>
  <wsdl:message name="MDuplexService_srv_work_DataFromLists_InputMessage">
    <wsdl:part name="parameters" element="tns:srv_work_DataFromLists" />
  </wsdl:message>
  <wsdl:message name="MDuplexService_packageConsignmentList_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:packageConsignmentList" />
  </wsdl:message>
  <wsdl:message name="MDuplexService_packageItemsList_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:packageItemsList" />
  </wsdl:message>
  <wsdl:message name="MDuplexService_packageError_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:packageError" />
  </wsdl:message>
  <wsdl:portType name="MDuplexService">
    <wsdl:operation name="srv_select_DataFromLists">
      <wsdl:input wsaw:Action="MCodeSilverlightServer/MDuplexService/srv_select_DataFromLists" message="tns:MDuplexService_srv_select_DataFromLists_InputMessage" />
      <wsdl:output wsaw:Action="MCodeSilverlightServer/MDuplexService/srv_select_DataFromListsResponse" message="tns:MDuplexService_srv_select_DataFromLists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="srv_work_DataFromLists">
      <wsdl:input wsaw:Action="MCodeSilverlightServer/MDuplexService/srv_work_DataFromLists" message="tns:MDuplexService_srv_work_DataFromLists_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="packageConsignmentList">
      <wsdl:output wsaw:Action="MCodeSilverlightServer/MDuplexService/packageConsignmentList" message="tns:MDuplexService_packageConsignmentList_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="packageItemsList">
      <wsdl:output wsaw:Action="MCodeSilverlightServer/MDuplexService/packageItemsList" message="tns:MDuplexService_packageItemsList_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="packageError">
      <wsdl:output wsaw:Action="MCodeSilverlightServer/MDuplexService/packageError" message="tns:MDuplexService_packageError_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>